@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

/* MAIN-MENU STYLING--START */
.mainMenu_main_class {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.content_first_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_first_half_main_heading > p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
}
.content_first_half_main_heading {
  display: flex;
  flex-direction: column;
}
.content_first_half_main_heading span {
  font-size: 5.2rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}
.content_second_half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_second_half > a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin: 3rem 0rem;
}
.mySwiper {
  height: 500px;
}
.swiper_slide {
  transition: transform 0.3s ease-in-out;
  margin: 5px 0px;
}
.button_slider_button {
  width: 540px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  transition: transform 0.3s ease-in-out;
}
.swiper_slide a {
  text-decoration: none;
  color: #ffffff9d;
  font-size: 2rem;
  font-weight: 700;
}
.swiper-slide-active .button_slider_button {
  transform: scale(0.99);
  background-color: rgba(255, 255, 255, 0.23);
  color: #ffffff;
  font-size: 2.2rem;
  backdrop-filter: blur(0px);
  transition: transform 0.3s ease-in-out;
}
/* MAIN-MENU STYLING--END */

/* SIMULATION-MENU-PAGE-START */
.simulation_main_class {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.side_bar {
  height: 100vh;
  width: 20%;
  border-right: 1px solid #27353f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  text-decoration: none;
}
#first_span_navigation_button {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
}
#second_span_navigation_button {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}
.menu_side_bar {
  margin-top: 15vh;
}
.menu_side_bar_items {
  border-top: 1px solid #27353f;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.simulation_sections {
  width: 80%;
}
/* SIMULATION-MENU-PAGE-END */

/* SIMULATION-SELECT-STUDENT-COMPONENT-START */
.select_student_main_heading {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 1.5rem;
}
.select_student_dropdown_main_class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  gap: 2rem;
  margin-top: 2rem;
}
.select_student_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 0rem 4rem;
}
.select_student_dropdown span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}
.select_student_instructor_button_group_main_class {
  width: 900px;
  margin: auto;
}
.select_student_instructor_button_group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.select_student_instructor_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.7rem;
  border: 1px solid white;
  height: 50px;
  width: 250px;
  cursor: pointer;
}
.select_student_instructor_button:hover {
  text-decoration: underline;
  backdrop-filter: blur(10px);
}
/* SIMULATION-SELECT-STUDENT-COMPONENT-END */

/* CUSTOM-DROPDOWN-START */
.custom_drop_down_main_class {
  background-color: #00000088;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  position: relative;
}
.custom_drop_down {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_drop_down_selected_option {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff79;
  font-weight: 600;
  cursor: pointer;
}
.custom_drop_down {
  position: relative;
  width: 450px;
  height: 50px;
}
.custom_drop_down_menu {
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  width: 450px;
  top: calc(100% + 0.65rem);
  background-color: #00000088;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    visibility 0s linear 0.3s,
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 10;
  overflow: hidden;
}
.custom_drop_down.active > .custom_drop_down_menu {
  visibility: visible;
  opacity: 1;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  transform: translateY(0);
}
.custom_drop_down_option {
  backdrop-filter: blur(10px);
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  min-width: 100%;
}
.custom_drop_down_option:hover {
  transition: 0.2s ease-in-out;
  color: #ffffff79;
}
.drop_down_arrow_button {
  position: absolute;
  right: 4%;
  top: 35%;
  cursor: pointer;
}
.drop_down_arrow_button img {
  transition: transform 0.3s ease-in-out;
}
.drop_down_arrow_button img.rotated {
  transform: rotate(180deg);
}
/* CUSTOM-DROPDOWN-END */

/* FOOTER-START */
.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  min-width: 100vw;
  padding: 0rem 2rem;
  border-top: 1px solid #27353f;
  height: 80px;
}
.footer span {
  padding-top: 1rem;
}
.footer_first_box {
  width: 25%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer_second_box {
  width: 31%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#footer_second_box_second_span {
  width: 300px;
  padding: 1rem 2rem;
  border-left: 1px solid #27353f;
}
#footer_second_box_second_span span {
  color: #8b8f90;
}
.underline:hover {
  text-decoration: underline;
}
/* FOOTER-END */
