@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* MAIN-MENU STYLING--START */
.mainMenu_main_class {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_content {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 3rem 0rem;
}
.content_first_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_first_half_main_heading > p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
}
.content_first_half_main_heading {
  display: flex;
  flex-direction: column;
}
.content_first_half_main_heading span {
  font-size: 5.2rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}
.content_second_half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_second_half > a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin: 3rem 0rem;
}
.button_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.button_slider_button {
  width: 600px;
  height: 70px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.199);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff9d;
}
.button_slider_button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}
/* MAIN-MENU STYLING--END */
